*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color: #091F49;
}

.forms {
    background-color: white;
    width: 983px;
    height: 2017px;
    margin-top: 5.0rem;
    margin-left: 15.0rem;
    border-radius: 30px;
}

.fieldset-wrapper, h2 {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 20px;
}